@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');

* {
  box-sizing: border-box;
}

/*#FBFAF5*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
}

.mainContainer {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
  color: white;
}

a {
  text-decoration: none;
}

.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* ================================= 
     Navbar 
   ==================================== */

.navbar {
  position: fixed;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  background-color: #333;
}

.main-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  display: none;
  position: absolute;
  flex-direction: column;
  width: 100%;
  background-color: #333;
}

@media (min-width: 769px) {
  .main-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    border-radius: 0;
    background-color: #333;
  }

  #hamburgerButton {
    display: none;
  }
}

#hamburgerButton:hover {
  cursor: pointer;
}

@media (max-width: 769px) {
  a:hover {
    width: 100%;
  }
}

.main-nav.show {
  display: flex;
}

.main-nav a {
  padding: 10px 15px;
  text-align: center;
  color: white;
}

.main-nav a {
  font-family: 'Noto Sans';
  font-size: 16px;
}

.main-nav a:hover {
  background-color: rgb(48, 46, 46);

}

#hamburger {
  display: none;
}

#hamburger:checked+div {
  display: none;
}

.button1 {
  color: #FBFAF5;
  width: 20vw;
  height: 5vh;
  font-weight: 900;
  width: 100%;
  border: none;
  background-color: #333;
}

.home {
  background: linear-gradient(-45deg, #7510F7, #007185, #009658);
  background-size: 400% 400%;
  animation: gradient 17s ease infinite;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.button2 {
  margin-top: 10px;
  margin-top: 15px;
  width: 150px;
  height: 40px;
  font-size: 16px;
  border: 1px solid white;
  background: linear-gradient(-45deg, #7510F7, #007185, #009658);
  background-size: 400% 400%;
  animation: gradient 17s ease infinite;
  border-radius: 4px;
  color: #FBFAF5;
}

.button2:hover {
  cursor: pointer;
  border: 1px solid rgb(226, 223, 223);
}

@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 27px;
  }
}


/*Abut me*/
/*Abut me*/

.aboutMe {
  padding-bottom: 40px;
}

.aboutMeTitle {
  text-align: center;
  font-size: 35px;
  color: #007185;
  margin-bottom: 80px;
  margin-top: 40px;
  font-family: 'Noto Sans', sans-serif;
}

.part1 {
  display: flex;
  justify-content: center;
  gap: 120px;
}

.part1a {
  display: block;
  text-align: center;
}

.part1b {
  align-self: center;
}


.img2 {
  display: block;
}

.myLogos {
  margin: 23px;
}

.myDescription {
  text-align: center;
  color: #616161;
  font-size: 18px;
  width: 340px;
  margin: auto;
  font-family: 'Noto Sans', sans-serif;
}

.whoIAm {
  font-size: 24px;
  color: #616161;
  margin-top: 40px;
  margin-bottom: 15px;
  font-family: 'Noto Sans', sans-serif;
}



@media (max-width: 800px) {

  .mainLogo {
    width: 200px;
  }

  .part1 {
    display: block;
    text-align: center;
  }

}

@media (max-width: 700px) {

  .mainLogo {
    width: 180px;
  }

}

@media (max-width: 500px) {

  .mainLogo {
    width: 130px;
  }

  .myImage {
    width: 300px;
  }
}


@media (max-width: 400px) {

  .myImage {
    width: 250px;
  }

  .aboutMeTitle {
    margin-bottom: 35px;
  }

  .myLogos {
    width: 80px;
  }

  .part1b {
    margin-top: 40px;
  }
}

.myprojects {
  background-color: #f5f5f5;
  padding-bottom: 100px;
}

.myPortfolio {
  text-align: center;
  font-size: 35px;
  color: #007185;
  margin-bottom: 60px;
  padding-top: 40px;
  font-family: 'Noto Sans', sans-serif;
}

.someprojects {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.imProject {
  height: 300px;
  border: 3px solid #007185;
}

@media (max-width: 1600px) {

  .imProject {
    height: 250px;
  }
}

@media (max-width: 1300px) {

  .imProject {
    height: 200px;
  }
}

@media (max-width: 1050px) {

  .imProject {
    height: 150px;
  }
}

@media (max-width: 900px) {

  .imProject {
    width: 500px;
    height: auto;
  }

  .someprojects {
    display: block;
    text-align: center;
  }

  .middle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {

  .imProject {
    width: 400px;
    height: auto;
  }
}

@media (max-width: 450px) {

  .imProject {
    width: 300px;
    height: auto;
  }
}


@media (max-width: 350px) {

  .imProject {
    width: 250px;
    height: auto;
  }

  .myDescription {
    width: 250px;
  }
}

/*Contact*/

.contactme {
  margin-top: 0;
  margin-bottom: 0;
  background: linear-gradient(-45deg, #7510F7, #007185, #009658);
  background-size: 400% 400%;
  animation: gradient 17s ease infinite;
  border-radius: 4px;
  color: #FBFAF5;
}

.contactTitle {
  font-size: 35px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Noto Sans', sans-serif;
}

.form1, .form2, .form3 {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: 'Noto Sans', sans-serif;
}
.form3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.copyright {
  text-align: center;
  color: rgb(184, 130, 130);
  margin-bottom: 0;
  margin-top: 30px;
  padding-bottom: 20px;
  margin-right: 10px;
}

.name1 {
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
}
